@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;
	outline: soslid;
}

header {
	background: #FFFFFF;
	position: sticky;
	left: 0;
	top: 0;
	overflow: hidden;
	padding: 5px;
	user-select: none;
  z-index: 100;
}

header * {
	font-family: Arial;
}

.box-contentHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5px 0px;
}

button:enabled {
	cursor: pointer; /* Define o cursor como pointer para botões habilitados */
}

button:disabled {
	cursor: none !important; /* Define o cursor como not-allowed para botões desabilitados */
}

.box-contentHeader .undoRedo {
	padding: 0px 2.5px;
}

.undoRedo button {
	border: 1px solid #FFFFFF;
}

.undoRedo button:hover,
.fontsStyle button:hover,
.btnsBackOff button:hover {
	border: 1px solid #35353535;
}

nav {
	display: flex;
	align-items: center;
	gap: 12px;
}

nav button {
	border: 2px solid #FFFFFF;
	padding: 2px;
}

nav button:hover {
	border-bottom: 2px solid #CCCCCC;
}

nav .btnActive {
	font-weight: bold;
	border-bottom: 2px solid #305077 !important;
}

.boxBtns-Header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.boxBtns-Header button {
	background: #FFFFFF;
	border: 1px solid #8a898f;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 4.5px 7px;
}

.boxBtns-Header button.share {
	background: #1A59C2;
	color: #FFFFFF;
}

i {
	background: none;
}

.containerMenu {
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: start;
	justify-content: center;
	height: auto;
	padding: 5px 0px;
	text-align: center;
}

/* =============================================
 - ÁREA PÁGINA INICAL
============================================= */
.contentInicial {
	display: flex;
	flex-direction: row;
	gap: 5px;
	border-left: 1px solid #CCCCCC;
}

.borderRight {
	border-right: 1px solid #CCCCCC;
}

.box-inicial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 0px 5px;
}

.box-inicial button{
	padding: 5px;
	border: 1px solid #FFFFFF;
}

.box-inicial .rotateCut {
	rotate: -90deg;
}

.box-inicial .rotateBrush {
	rotate: -135deg;
}

.box-inicial .rotateSearch {
	rotate: 90deg;
}

.expan {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 325px;
	padding: 0px 5px 0px 0px;
	position: relative; /* Define a posição relativa para o contêiner pai */
}

.expan h6 {
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	text-align: center;
}

.workspace {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.column {
	display: flex;
	flex-direction: column;
}

.titleIcon label {
	font-size: .8em;
}

.iconSize {
	padding: 0px 5px;
	font-size: 2.25em;
}

label, input[type=color] {
	cursor: pointer;
}

.font {
	display: flex;
	flex-direction: column;
	gap: 2.5px;
}

.font .line {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.font .fontsStyle {
	display: flex;
	gap: 1px;
	padding: 0px 5px;
}

.fontsStyle #removeFormatting i{
	color: #8b4794;
}

.font select {
	padding: 2.5px 0.5px;
}

.font select#fontSize {
	width: 50px;
}

option {
	padding: 2.5px 0.5px;
}

.fontsStyle button {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.font .textFormat,
.font .color {
	display: flex;
	gap: 10px;
	padding: 2.5px 6px;
}

.font .color .btnsColor{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.font .color .btnsColor label{
	margin-bottom: -3px;
}

.font .color .btnsColor i{
	font-size: .75em;
}

.font .color input[type=color]{
	position: relative;
	border: none;
	height: 15px;
	width: 20px;
	outline: none;
}

.paragraph {
	display: flex;
	flex-direction: column;
	gap: 2.5px;
}

.paragraph .list {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.titlesStylesContainer {
	border: 1px solid #CCCCCC;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	max-height: 57px;
	position: absolute;
	top: 8px;
	z-index: 1002;
}

.titlesStylesContainer.expanded {
	max-height: none; /* Ajuste conforme necessário para a altura expandida */
}

.titlesStyles {
	display: grid;
	grid-template-columns: auto auto auto;
}

.expanded .titlesStyles {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.titleStyle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	width: 102px;
	overflow: hidden;
	white-space: nowrap;
}

.expanded .titleStyle {
	height: 45px;
	width: 90px;
	font-size: .87em;
}

.alignLeft {
	justify-content: left !important;
	padding: 2.5px;
}

.titleStyle:hover,
.active {
	border: 1px solid #000000 !important;
}

.btnsScroll {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	right: 0;
}

.btnsScroll button {
	border: 1px solid;
	padding: .6px .8px;
}

.btnsScroll button i {
	font-size: .7em;
}

#mic {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 54px;
	width: 57px;
}

.final {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.final button {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}



/* =============================================
 - CONTEÚDO
============================================= */
.contentText {
	display: flex;
	justify-content: center;
}

#textDocument{
	border: 1px solid #c5c5c5;
	height: 272.5mm;
	width: 210mm;
	margin: 10px auto;
	outiline: none;
	padding: 20px;
  transition: transform 0.2s;
  transform-origin: center center;
}

#textDocument:focus{
	outiline: 1px solid #c5c5c5;
}

/* =============================================
 - CONTEÚDO
============================================= */
footer {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 0;
  bottom: 0;
  right: 0;
  position: sticky;
}

.btnsZoom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  gap: 5px;
  padding: 10px;
  z-index: 100;
}

.btnsZoom button {
  border: none;
  font-weight: bold;
}

.btnsZoom #value {
  text-align: center;
  width: 40px;
}

