.saveButton #save i {
	padding: 7.5px 0px;
	/* Define o gradiente como plano de fundo */
	background: linear-gradient(to right, #ce8ad7, #8b4794);

	/* Faz o texto do ícone ser transparente para mostrar o plano de fundo */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* Garante que o ícone se adapte ao tamanho do texto e centralize o gradiente */
	display: inline-block;
	background-clip: text;
}

.titleIcon #pasteButton i {
	background:
		linear-gradient(to right, #d48a43 35%, var(--text-color) 35%) center,
		linear-gradient(to right, #d48a43 35%, #d48a43 35%) top,
		linear-gradient(to right, #d48a43 35%, var(--text-color) 35%) bottom;
	background-repeat: no-repeat;
	background-size: 100% 55%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-clip: text;
}

.workspace #brushButton i {
	background:
		linear-gradient(to bottom, #d48a43 50%, #414141 50%);
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-clip: text;
}

.btnScriptFormat #subscript i ,
.btnScriptFormat #superscript i { 
	background: linear-gradient(to right, var(--text-color) 50%, var(--text-color) 70%, var(--share-button-background) 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-clip: text;
}

.btnList #insertUnorderedList i ,
.btnList #insertOrderedList i {
	background: linear-gradient(to left, var(--text-color) 50%, var(--text-color) 72%, var(--share-button-background) 72%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-clip: text;	
}

.btnsBackOff #indent i,
.btnsBackOff #outdent i {
	background: 
		linear-gradient(to right, var(--share-button-background) 33%, var(--text-color) 33%) center,
		linear-gradient(to right, var(--text-color) 33%, var(--text-color) 33%) top,
		linear-gradient(to right, var(--text-color) 33%, var(--text-color) 33%) bottom;
	background-repeat: no-repeat;
	background-size: 100% 40%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-clip: text;
}

.order #sortButton i {
	/* Configuração do tamanho para garantir que o efeito fique como quadrados */
	background:
		linear-gradient(to left, var(--share-button-background) 50%, var(--text-color) 50%) top,
		linear-gradient(to left, var(--text-color) 50%, var(--text-color) 50%) bottom;
	background-repeat: no-repeat;
	background-size: 100% 51%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	background-clip: text;
}


